# Ignore all .idea directories
.idea/

# Ignore Python bytecode files
__pycache__/
*.py[cod]
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other IDE specific files
.vscode/
*.swp
*~

# Ignore compiled files
*.out
*.o
*.class

